# Ans1-

Data encoding is the process of converting data one form to another.Often for the purpose of the efficient storage, transformation and processing.

Representation: encoding  data represent in a format way to for suitable for analysis or ml algorithms.

Efficency : encoded data can be more compact and the efficient for the storage and transmission.

compatibilty means different system use different format for a data.encoding help transforming the data into a common format that can be easily understood and processed across various platform.

encoding can be also provide privacy and security.

# Ans2-

Nominal encoding is a label encoding means convert categorical data into a numeric values while preserving the distict categries.

in nominal encoding each unique category assigned unique integer.

In [3]:
# Example in Python using pandas library
import pandas as pd

# Original data
data = {'Color': ['Red', 'Blue', 'Green', 'Red', 'Green']}
df = pd.DataFrame(data)

# Nominal encoding
color_encoding = {'Red': 1, 'Blue': 2, 'Green': 3}
df['Color_Encoded'] = df['Color'].map(color_encoding)

# Resulting DataFrame

In [4]:
df

   Color  Color_Encoded
0    Red              1
1   Blue              2
2  Green              3
3    Red              1
4  Green              3

# Ans3-

Nominal encoding is preferred over one-hot encoding when the categorical values have an ordinal relationship, meaning there is a meaningful order or ranking among the categories.

In [6]:
# Example in Python using pandas library
import pandas as pd

# Original data
data = {'Size': ['Small', 'Medium', 'Large', 'Medium', 'Small']}
df = pd.DataFrame(data)

# Nominal encoding for Size
size_encoding = {'Small': 1, 'Medium': 2, 'Large': 3}
df['Size_Encoded'] = df['Size'].map(size_encoding)

# Resulting DataFrame
print(df)

     Size  Size_Encoded
0   Small             1
1  Medium             2
2   Large             3
3  Medium             2
4   Small             1

# Ans4-

In [8]:
# Example in Python using pandas library
import pandas as pd

# Original data
data = {'Fruit': ['Apple', 'Banana', 'Orange', 'Banana', 'Mango']}
df = pd.DataFrame(data)
df

    Fruit
0   Apple
1  Banana
2  Orange
3  Banana
4   Mango

In [9]:
# One-hot encoding for Fruit
df_encoded = pd.get_dummies(df, columns=['Fruit'], prefix='Fruit')

# Resulting DataFrame
df_encoded

   Fruit_Apple  Fruit_Banana  Fruit_Mango  Fruit_Orange
0            1             0            0             0
1            0             1            0             0
2            0             0            0             1
3            0             1            0             0
4            0             0            1             0

In this scenario, one-hot encoding is suitable because it avoids introducing any artificial ordinal relationship among the fruits and ensures that the machine learning algorithm treats each fruit category independently.

# Ans5-


In nominal encoding, each unique category in a categorical variable is assigned a unique integer. Therefore, for each categorical column, the number of new columns created is equal to the number of unique categories minus one (since one category can be represented as a reference).

Number of new columns for the first categorical column 5-1=4

Number of new columns for the second categorical column 4-1=3

Therefore, a total of 
4
+
3
=
7
4+3=7 new columns would be created through nominal encoding for the two categorical columns in the dataset.

# Ans6-

In [ ]:
import pandas as pd

# Original data
data = {'Species': ['Lion', 'Elephant', 'Giraffe', 'Tiger'],
        'Habitat': ['Jungle', 'Savannah', 'Zoo', 'Jungle'],
        'Diet': ['Carnivore', 'Herbivore', 'Herbivore', 'Carnivore']}
df = pd.DataFrame(data)

# One-hot encoding for nominal variables (Species, Habitat)
df_encoded = pd.get_dummies(df, columns=['Species', 'Habitat'], prefix=['Species', 'Habitat'])

# Label encoding for ordinal variable (Diet)
diet_encoding = {'Herbivore': 1, 'Omnivore': 2, 'Carnivore': 3}
df_encoded['Diet_Encoded'] = df['Diet'].map(diet_encoding)

# Resulting DataFrame
print(df_encoded)

        Diet  Species_Elephant  Species_Giraffe  Species_Lion  Species_Tiger  \
0  Carnivore                 0                0             1              0
1  Herbivore                 1                0             0              0
2  Herbivore                 0                1             0              0
3  Carnivore                 0                0             0              1

   Habitat_Jungle  Habitat_Savannah  Habitat_Zoo  Diet_Encoded
0               1                 0            0             3
1               0                 1            0             1
2               0                 0            1             1
3               1                 0            0             3

# Ans7-

In the context of predicting customer churn for a telecommunications company, you would likely encounter categorical variables such as "gender" and "contract type." Here's a step-by-step explanation of how you could encode these categorical variables into numerical data using one-hot encoding and label encoding:

One-Hot Encoding for Nominal Variables:

Variables: Gender and Contract Type are likely nominal variables with no inherent order.
Implementation:
For "gender," create two binary columns: "Male" and "Female."
For "contract type," create binary columns for each category: "Month-to-month," "One year," "Two years."

In [12]:
import pandas as pd

# Original data
data = {'Gender': ['Male', 'Female', 'Male', 'Female'],
        'Contract_Type': ['Month-to-month', 'One year', 'Month-to-month', 'Two years'],
        'Age': [30, 40, 35, 50],
        'Monthly_Charges': [50.0, 65.0, 55.0, 75.0],
        'Tenure': [12, 24, 6, 36]}

df = pd.DataFrame(data)

# One-hot encoding for nominal variables (Gender, Contract Type)
df_encoded = pd.get_dummies(df, columns=['Gender', 'Contract_Type'], prefix=['Gender', 'Contract_Type'])

# Resulting DataFrame
print(df_encoded)

   Age  Monthly_Charges  Tenure  Gender_Female  Gender_Male  \
0   30             50.0      12              0            1
1   40             65.0      24              1            0
2   35             55.0       6              0            1
3   50             75.0      36              1            0

   Contract_Type_Month-to-month  Contract_Type_One year  \
0                             1                       0
1                             0                       1
2                             1                       0
3                             0                       0

   Contract_Type_Two years
0                        0
1                        0
2                        0
3                        1

2-Label Encoding for Ordinal Variables:

Variables: None of the remaining variables (Age, Monthly Charges, Tenure) seem ordinal. They are numerical and can be used as they are.
Implementation: No specific encoding needed for these variables.